*{
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    font-family: cursive;
    font-size: 0.95em;
    margin: 0px;
}
header{
    display: flex;
    background-color: olive;
    padding: 3px;
    position:sticky;
    top:0px;
    z-index: 1;

    

}
header>*{
    color:white;
    align-items:center;
}
header>ul{
    list-style: none;
    padding: 0px;
    display: flex;
    
}
header a{
    text-decoration: none;
    color:white;
}
#logo{
    margin:0px auto;
}
header>ul>li{
    padding: 5px;
}

footer{
    background-color: olive;
    position: sticky;
    bottom: 0px;
    z-index: 1;
    
    
}
footer>h3{
    color:white;
    text-align: center;
}
aside *{
    list-style: none;
    padding:4px;
    text-decoration: none;
    color:black;
    
}
#copy{
    font-size: 20px;
}
#main{
    display: flex;
}
img{
    width: 100%;
    height:300px;
}
aside{
    flex:0 0 14vw;
    
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh; /* Adjust this value as needed */
    overflow-y:scroll;
}
#service-container{
    border: 3px solid gray;
    display: flex;
    flex-basis:100%;
    overflow-y: auto;
}
#service-container >*{
    padding: 3px;
    border: 2px solid gray;
    
 
}

button{
    padding:8px;
    background-color: gold;
    border:none;
    border-radius: 20px;
    
}
aside{
    display: flex;
}
@media(max-width:760px){
    header>*{
        flex-direction: column;
    }
    #service-container{
        flex-direction: column;
    }
    #main{
        flex-direction: column;
    }
    {
       flex-direction: row; 
    }

    }
